{%load static%}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
        <!-- Meta tag -->
		<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name='copyright' content='codeglim'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" sizes="180x180" href="{%static 'assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/img/favicons/favicon.ico' %}">	
		
		<!-- Title Tag -->
        <title>DiabOracle</title>

		
        <!-- Google Font & Google Map -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700" rel="stylesheet"> 
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM" type="text/javascript"></script>	
		
		<!-- Hover CSS -->
        <link rel="stylesheet" href="{%static 'css/hover.css' %}">
		
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
		
		<!-- Slick Nav CSS -->
        <link rel="stylesheet" href="{%static 'css/slicknav.min.css' %}">
		
		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="{%static 'css/owl.theme.default.css' %}">
        <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}">
		
		<!-- Magnific Popup CSS -->
		<link rel="stylesheet" href="{%static 'css/magnific-popup.css' %}">
		
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{%static 'css/animate.min.css' %}">
		
		<!-- Bootstrap Css -->
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
		
		<!-- bizman Style CSS -->
        <link rel="stylesheet" href="{%static 'style.css' %}">
        <link rel="stylesheet" href="{%static 'css/default.css' %}">	
        <link rel="stylesheet" href="{%static 'css/responsive.css' %}">	
		
		<!-- bizman Colors -->
		<!-- Use another color Just remove bottom of the comment tag -->
		<!-- Use another color Just remove bottom of the comment tag -->
		<link rel="stylesheet" href="{%static 'css/skin/green.css' %}">
		<!--<link rel="stylesheet" href="css/skin/blaze.css">-->
		<!--<link rel="stylesheet" href="css/skin/blue.css">-->
		<!--<link rel="stylesheet" href="css/skin/blue2.css">-->
		<!--<link rel="stylesheet" href="css/skin/red.css">-->
		<!--<link rel="stylesheet" href="css/skin/purple.css">-->
		<!--<link rel="stylesheet" href="css/skin/pink.css">-->
		<!--<link rel="stylesheet" href="css/skin/orange.css">-->
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
	
		<!-- Preloader -->
		<div class="loader">
			<div class="loader-inner">
				<div class="k-line k-line11-1"></div>
				<div class="k-line k-line11-2"></div>
				<div class="k-line k-line11-3"></div>
				<div class="k-line k-line11-4"></div>
				<div class="k-line k-line11-5"></div>
			</div>
		</div>
		<!-- End Preloader -->
		
		<!-- Start Header -->
		<header id="header" class="personal">
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-12 col-xs-12">
							<!-- Logo -->
							<div class="logo">
								<a href="/">DiabOracle<span>.</span></a>
							</div>
							<!--/ End Logo -->
						</div>
						<div class="col-md-10 col-sm-12 col-xs-12">
							<div class="nav-area">
								<!-- Main Menu -->
								<nav class="mainmenu">
									<div class="mobile-nav"></div>
									<div class="collapse navbar-collapse">
										<ul class="nav navbar-nav">
                                            <li class="active"><a href="/#">Accueil</a></li>
											<li><a href="#about-me">A propos</a></li>
											<li><a href="#testimonial">Nos témoignages</a></li>		
											<li><a href="#contact">Contactez-nous</a></li>		
										</ul>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!--/ End Header -->

		<!-- Personal Banner -->
		<section id="personal-banner">
			<div class="table">
				<div class="table-cell">
				<div id="particles-js"></div>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="banner-main">
									<!-- Banner Text -->
									<div class="banner-text">
										<div class="my-info">
											<h1>Bienvenu sur DiabOracle</h1>
											<h3>Votre application de <span class="info"></span></h3>
                                            <a href="/predict_now" class="button my-2">Prédire tout de suite</a>
											<a href="/login" class="button primary my-2">Se connecter</a>
										</div>
									</div>
									<!--/ End Banner Text -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Personal Banner -->
		
		<!-- Start About Me -->
		<section id="about-me" class="section clearfix mb-5" >
			<div class="container">
				<div class="row"> 	
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft">
						<!-- About Text -->
						<div class="about-text">
							<h3 class="text-center">Votre santé notre priorité</h3>
							<p> DiabOracle est une application innovante conçue pour vous aider à surveiller et à prédire votre risque de diabète. Grâce à notre technologie de pointe, nous vous fournissons des informations précises et personnalisées pour vous aider à prendre des décisions éclairées sur votre santé.</p>
						</div>
						<!--/ End About Text -->
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<!-- My Image -->
						<div class="my-image">
							<img src="{%static 'images/personal/my-image.png' %}"  alt=""/>
						</div>
						<!--/ End My Image -->
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight">
						<!-- About Contact -->
						<div class="about-contact">
							<h3 class="text-center">Pourquoi DiabOracle ?</h3>
							<p>Le diabète est une maladie chronique qui affecte des millions de personnes dans le monde. Chez DiabOracle, nous croyons que la prévention est la meilleure défense. Notre application utilise des algorithmes avancés pour analyser vos données de santé et prédire votre risque de développer le diabète.</p>			
							<div class="about-button div-center">
								<a href="/predict_now" class="button">Prédire</a>
								<a href="#contact" class="button primary">Contactez-nous</a>
							</div>
						</div>
						<!--/ En About Contact -->
					</div>
                    
				</div>
                <div class="row div-center">
                    <div class="col-md-8 col-sm-8 col-xs-12 wow fadeInLeft">
                        <!-- About Text -->
                        <div class="about-text">
                            <h3 class="text-center">Comment ça marche ?</h3>
                            <p>
                                <ul>
                                    <li><i class="main-color">Saisissez vos données de santé :</i> Entrez vos informations de santé telles que l’âge, le poids, l’alimentation et l’activité physique.</li>
                                    <li><i class="main-color">Analyse et prédiction :</i> Notre algorithme analyse vos données et prédit votre risque de diabète.</li>
                                    <li><i class="main-color">Recevez des conseils personnalisés :</i> Sur la base de votre risque, nous vous fournissons des conseils personnalisés pour vous aider à maintenir un mode de vie sain.</li>
                                </ul>	
                            </p>
                        </div>
                        <!--/ End About Text -->
                    </div>
                </div>
			</div>
		</section>
		<!-- End About Me -->	
		
		<!-- Start Testimonials -->
		<section id="testimonial" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeInUp">
						<div class="section-title">
							<h2>Nos témoignages</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 wow fadeInUp">
						<div class="testimonial-carousel">
							<!-- Start Testimonial -->
							<div class="single-testimonial">
								<div class="testimonial-content">
									<p>La plateforme m'a vraiment aidé à gérer mon diabète. Les conseils personnalisés me permettent de rester sur la bonne voie.</p>
								</div>
								<div class="testimonial-info">
									<span class="arrow"></span>
									<img src="{%static 'images/testimonial1.jpg' %}" class="img-circle" alt="">
									<h6>Shamim Mia</h6>
								</div>			
							</div>
							<!--/ End Testimonial -->
							<!-- Start Testimonial -->
							<div class="single-testimonial">
								<div class="testimonial-content">
									<p>Une innovation dans le suivi du diabète. Elle aide à prévenir les complications et à améliorer la qualité de vie des patients.</p>
								</div>
								<div class="testimonial-info">
									<span class="arrow"></span>
									<img src="{%static 'images/testimonial2.jpg' %}" class="img-circle" alt="">
									<h6>Ismail Hossain</h6>
								</div>			
							</div>
							<!--/ End Testimonial -->	
							<!-- Start Testimonial -->
							<div class="single-testimonial">
								<div class="testimonial-content">
									<p>Grâce à cette plateforme, je peux anticiper les complications potentielles chez mes patients et intervenir plus tôt.</p>
								</div>
								<div class="testimonial-info">
									<span class="arrow"></span>
									<img src="{%static 'images/testimonial3.jpg' %}" class="img-circle" alt="">
									<h6>Shakil Hossain</h6>
								</div>			
							</div>
							<!--/ End Testimonial -->	
							<!-- Start Testimonial -->
							<div class="single-testimonial">
								<div class="testimonial-content">
									<p>Grâce à cette plateforme, j'ai pu mieux comprendre mes risques et prendre des mesures préventives. Les prédictions sont claires et faciles à suivre.</p>
								</div>
								<div class="testimonial-info">
									<span class="arrow"></span>
									<img src="{%static 'images/testimonial4.jpg' %}" class="img-circle" alt="">
									<h6>SM Jehad</h6>
								</div>			
							</div>
							<!--/ End Testimonial -->	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Testimonial -->
		
		
		<!-- Contact Us -->
		<section id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeInUp">
						<div class="section-title">
							<h2>Contactez<span> Nous</span></h2>
						</div>
					</div>
				</div>
				<div class="row div-center">
					<!-- Contact Form -->
					<div class="col-md-8 col-sm-8 col-xs-12 wow fadeInUp">
						<form class="form" method="post">
                            {%csrf_token%}
							<div class="form-group">
								<i class="fa fa-user"></i>
								<input type="text" name="name" placeholder="Nom complet" required="required">
                            </div>
							<div class="form-group">
								<i class="fa fa-envelope"></i>
								<input type="email" name="email" placeholder="Entrez votre adresse email" required="required">
                            </div>
							<div class="form-group">
								<i class="fa fa-phone"></i>
								<input type="text" name="phone" placeholder="61XXXXXX" required="required">
                            </div>
							<div class="form-group">
								<i class="fa fa-pencil"></i>
								<input type="text" name="subject" placeholder="Sujet" required="required">
                            </div>
							<div class="form-group">
								<i class="fa fa-comment"></i>
								<textarea name="message" rows="6" placeholder="Tapez votre message ici" style="resize: vertical;" required></textarea>
                            </div>
							<div class="form-group">	
								<button type="submit" class="button primary"><i class="fa fa-send"></i>Soumettre</button>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Clients Us -->		
		
		<!-- Footer Top -->
		<section id="footer-top" class="section wow fadeInUp">
			<div class="container">
				<div class="row div-center">
					<!-- Single Widget -->
					<div class="col-md-8 col-sm-8 col-xs-12 ">
						<div class="single-widget about">
							<h2>A propos de nous</h2>
							<p>DiabOracle est une application innovante conçue pour vous aider à surveiller et à prédire votre risque de diabète. Grâce à notre technologie de pointe, nous vous fournissons des informations précises et personnalisées pour vous aider à prendre des décisions éclairées sur votre santé.</p>
							<div class="logo">
								<a href="#">DiabOracle<span>.</span></a>
							</div>	
						</div>
					</div>
					<!--/ End Single Widget -->
				</div>
			</div>
		</section>
		<!--/ End footer Top -->
		
		<!-- Start Footer -->
		<footer id="footer" class="clearfix">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="copyright">
							<p><span><i class="fa fa-heart"></i></span><a href="#">© copyright</a></p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<ul class="social">
							<li>Suivez-nous</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!--/ End Footer -->
		
		<!-- Jquery JS -->
		<script src="{%static 'js/jquery.min.js' %}"></script>
		
		<!-- Modernizr JS -->
		<script src="{%static 'js/modernizr.min.js' %}"></script>
		
		<!-- Scroll Up JS -->
		<script src="{%static 'js/jquery.scrollUp.min.js' %}"></script>
		
		<!-- Wow JS -->
		<script src="{%static 'js/wow.min.js' %}"></script>
		
		<!-- Slick Nav JS -->
    	<script src="{%static 'js/jquery.slicknav.min.js' %}"></script>
		
		<!-- Onepage Nav JS -->
    	<script src="{%static 'js/jquery.nav.js' %}"></script>
		
		<!-- Typed JS -->
    	<script src="{%static 'js/typed.min.js' %}"></script>
		
		<!-- Popup JS -->
		<script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>
		
		<!-- Steller JS -->
		<script src="{%static 'js/jquery.stellar.js' %}"></script>
		
		<!-- Particles JS -->
		<script src="{%static 'js/particles.min.js' %}"></script>
		<script src="{%static 'js/particle-code.js' %}"></script>
		
		<!-- Counterup JS -->
		<script src="{%static 'js/waypoints.min.js' %}"></script>
		<script src="{%static 'js/jquery.counterup.min.js' %}"></script>
		
		<!-- Owl Carousel JS -->
		<script src="{%static 'js/owl.carousel.min.js' %}"></script>
		
		<!-- Bootstrap JS -->
		<script src="{%static 'js/bootstrap.min.js' %}"></script>
		
		<!-- Google Map JS -->
		<script src="{%static 'js/gmap.js' %}"></script>
		
		<!-- Main JS -->
		<script src="{%static 'js/main.js' %}"></script>
    </body>

</html>