{%extends 'admin-temp/base.html'%}
{%load static%}
{%block title %}
Prédiction d'un passant
{%endblock%}
{%block header %}
{%endblock%}
{%block content %}

<div class="div-center" id="predict" v-cloak>
<div class="card col-10">
<div class="row">
<div class="theme-wizard mb-5 col-6" data-theme-wizard="data-theme-wizard">
    <div class="card-header bg-body-highlight pt-3 pb-2 border-bottom-0">
      <ul class="nav justify-content-between nav-wizard nav-wizard-success" role="tablist">
        <li class="nav-item" role="presentation"><a class="nav-link active fw-semibold" href="#bootstrap-wizard-tab1" data-bs-toggle="tab" data-wizard-step="1" aria-selected="true" role="tab">
            <div class="text-center d-inline-block"><span class="nav-item-circle-parent"><span class="nav-item-circle"><svg class="svg-inline--fa fa-lock" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"></path></svg><!-- <span class="fas fa-lock"></span> Font Awesome fontawesome.com --></span></span><span class="d-none d-md-block mt-1 fs-9">Informations personnelles</span></div>
          </a></li>
        <li class="nav-item" role="presentation"><a class="nav-link fw-semibold" href="#bootstrap-wizard-tab2" data-bs-toggle="tab" data-wizard-step="2" aria-selected="false" tabindex="-1" role="tab">
            <div class="text-center d-inline-block"><span class="nav-item-circle-parent"><span class="nav-item-circle"><svg class="svg-inline--fa fa-user" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"></path></svg><!-- <span class="fas fa-user"></span> Font Awesome fontawesome.com --></span></span><span class="d-none d-md-block mt-1 fs-9">Physique</span></div>
          </a></li>
        <li class="nav-item" role="presentation"><a class="nav-link fw-semibold" href="#bootstrap-wizard-tab3" data-bs-toggle="tab" data-wizard-step="3" aria-selected="false" tabindex="-1" role="tab">
            <div class="text-center d-inline-block"><span class="nav-item-circle-parent"><span class="nav-item-circle"><svg class="svg-inline--fa fa-file-lines" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-lines" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM112 256H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z"></path></svg><!-- <span class="fas fa-file-alt"></span> Font Awesome fontawesome.com --></span></span><span class="d-none d-md-block mt-1 fs-9">Glycémie</span></div>
          </a></li>
        <li class="nav-item" role="presentation"><a class="nav-link fw-semibold" href="#bootstrap-wizard-tab4" data-bs-toggle="tab" data-wizard-step="4" aria-selected="false" tabindex="-1" role="tab">
            <div class="text-center d-inline-block"><span class="nav-item-circle-parent"><span class="nav-item-circle"><svg class="svg-inline--fa fa-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"></path></svg><!-- <span class="fas fa-check"></span> Font Awesome fontawesome.com --></span></span><span class="d-none d-md-block mt-1 fs-9">Résultat</span></div>
          </a></li>
      </ul>
    </div>
    <div class="card-body pt-4 pb-0">
      <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" aria-labelledby="bootstrap-wizard-tab1" id="bootstrap-wizard-tab1">
          <form id="predictForm" novalidate="novalidate" data-wizard-form="1">
            <div class="mb-2"><label class="form-label text-body">Age</label>
              <input class="form-control" type="number" name="age" placeholder="Ex: 50" v-model="age">
            </div>
            <div class="mb-2"><label class="form-label">Sexe*</label>
              
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sexe" value="1" v-model="sexe">
                <label class="form-check-label">Homme</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sexe" value="0" v-model="sexe">
                <label class="form-check-label">Femme</label>
              </div>
            </div>
            <div class="row g-3 mb-3" v-if="sexe==0">
              <div class="col-sm-6">
                <div class="mb-2 mb-sm-0"><label class="form-label text-body" for="bootstrap-wizard-wizard-password">Etes vous enceinte ?</label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="enceinte" v-model="enceinte" value="1">
                    <label class="form-check-label" >Oui</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="enceinte" v-model="enceinte" value="0">
                    <label class="form-check-label" >Non</label>
                  </div>
                </div>
              </div>
              
            </div>
          </form>
        </div>
        <div class="tab-pane" role="tabpanel" aria-labelledby="bootstrap-wizard-tab2" id="bootstrap-wizard-tab2">
          <form id="wizardForm2" novalidate="novalidate" data-wizard-form="2">
            <div class="row g-4 mb-4 dz-clickable" data-dropzone="data-dropzone" data-options="{&quot;maxFiles&quot;:1,&quot;data&quot;:[{&quot;name&quot;:&quot;avatar.webp&quot;,&quot;size&quot;:&quot;54kb&quot;,&quot;url&quot;:&quot;../../assets/img/team&quot;}]}">
              
              <div class="col-md-auto">
                <div class="dz-preview dz-preview-single"><div class="dz-preview-cover d-flex align-items-center justify-content-center mb-2 mb-md-0 dz-image-preview">                                    <div class="avatar avatar-4xl"><img class="rounded-circle avatar-placeholder" src="{%static 'assets/img/team/avatar.webp' %}" alt="avatar.webp" data-dz-thumbnail="data-dz-thumbnail"></div>                                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>                                  </div></div>
              </div>
              <div class="col-md">
                <div class="dz-message dropzone-area px-2 py-3" data-dz-message="data-dz-message">
                  <div class="text-center text-body-emphasis">
                    <h5 class="mb-2"><svg class="svg-inline--fa fa-upload me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M288 109.3V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3l-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352H192c0 35.3 28.7 64 64 64s64-28.7 64-64H448c35.3 0 64 28.7 64 64v32c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V416c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"></path></svg><!-- <span class="fa-solid fa-upload me-2"></span> Font Awesome fontawesome.com -->Entrez vos constantes physiques</h5>
                    <p class="mb-0 fs-9 text-body-tertiary text-opacity-85 lh-sm">Prenez votre poids et <br>mesurez votre taille</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-2"><label class="form-label">Poids</label>
              <input class="form-control" type="number" name="poids" placeholder="Ex: 70 (en Kg)" v-model="poids">
            </div>
            <div class="mb-2"><label class="form-label">Taille</label>
              <input class="form-control" type="number" name="taille" placeholder="Ex: 170 (en cm)" v-model="taille">
            </div>
          </form>
        </div>
        <div class="tab-pane" role="tabpanel" aria-labelledby="bootstrap-wizard-tab3" id="bootstrap-wizard-tab3">
          <form class="mb-2" id="wizardForm3" novalidate="novalidate" data-wizard-form="3">
            <div class="row gx-3 gy-2">
              <div class="col-6"><label class="form-label">Taux d'insuline</label>
                <input class="form-control" placeholder="Ex: 5.5" type="number" name="glycemie" v-model="glycemie">
              </div>
              
            </div>
          </form>
        </div>
        <div class="tab-pane" role="tabpanel" aria-labelledby="bootstrap-wizard-tab4" id="bootstrap-wizard-tab4">
          <div class="row flex-center pb-8 pt-4 gx-3 gy-4">
            <div class="col-12 col-sm-auto">
              <div class="text-center text-sm-start"><img class="d-dark-none" src="{%static 'assets/img/spot-illustrations/38.webp' %}" alt="" width="220"><img class="d-light-none" src="{%static 'assets/img/spot-illustrations/dark_38.webp' %}" alt="" width="220"></div>
            </div>
            <div class="col-12 col-sm-auto">
              <div class="text-center text-sm-start">
                <h5 class="mb-3">Récapitulatif !</h5>
                <p class="text-body-emphasis fs-9">
                  <b>Sexe:</b> <span v-if="sexe==0">Féminin</span> <span v-if="sexe==1">Masculin</span>
                  <span v-if="sexe==0"><br><b>Enceinte ?:</b> <span v-if="enceinte==0">Non</span> <span v-if="enceinte==1">Oui</span></span>
                  <br>
                  <b>Age:</b> [[age]]
                  <br>
                  <b>Poids:</b> [[poids]]
                  <br>
                  <b>Taille:</b> [[taille]]
                  <br>
                  <b>Glycémie:</b> [[glycemie]]
                  <br>
                </p><a class="btn btn-primary px-6" v-on:click="predict_diabete()">Lancer le traitement</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer border-top-0" data-wizard-footer="data-wizard-footer">
      <div class="d-flex pager wizard list-inline mb-0"><button class="d-none btn btn-link ps-0" type="button" data-wizard-prev-btn="data-wizard-prev-btn"><svg class="svg-inline--fa fa-chevron-left me-1" data-fa-transform="shrink-3" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="" style="transform-origin: 0.3125em 0.5em;"><g transform="translate(160 256)"><g transform="translate(0, 0)  scale(0.8125, 0.8125)  rotate(0 0 0)"><path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" transform="translate(-160 -256)"></path></g></g></svg><!-- <span class="fas fa-chevron-left me-1" data-fa-transform="shrink-3"></span> Font Awesome fontawesome.com -->Previous</button>
        <div class="flex-1 text-end"><button class="btn btn-primary px-6 px-sm-6" type="submit" data-wizard-next-btn="data-wizard-next-btn">Next<svg class="svg-inline--fa fa-chevron-right ms-1" data-fa-transform="shrink-3" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="" style="transform-origin: 0.3125em 0.5em;"><g transform="translate(160 256)"><g transform="translate(0, 0)  scale(0.8125, 0.8125)  rotate(0 0 0)"><path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" transform="translate(-160 -256)"></path></g></g></svg><!-- <span class="fas fa-chevron-right ms-1" data-fa-transform="shrink-3"> </span> Font Awesome fontawesome.com --></button></div>
      </div>
    </div>
</div>
<div class=" col-6">
    <img src="{%static 'assets/img/illustr.png' %}" alt="" v-if="!is_predict">
    <div v-if="is_predict">
      <div id="answerPredict" style="min-height:300px"></div>
      <div class="div-center">
        <div class="row col-10 div-center">
          <button class="btn btn-dark col-6">Recommandations à suivre</button>
          <button class="btn btn-white col-4">Inscrivez vous</button>
        </div>
      </div>
      <div class="div-center mt-3">
        <p class="text-center text-body-emphasis fs-9">Accédez aux recommandations pour bénéficier de conseils, astuces et remèdes.
        <br> Inscrivez vous pour suivre votre évolution.</p>
      </div>
    </div>
</div>
</div>
</div>
</div>
{%endblock%}
