{%load static%}
<nav class="navbar navbar-vertical navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <!-- scrollbar removed-->
    <div class="navbar-vertical-content">
      <ul class="navbar-nav flex-column" id="navbarVerticalNav">
        <li class="nav-item">
          <!-- parent pages-->
          <p class="navbar-vertical-label">Menu</p>
          <hr class="navbar-vertical-line" /><!-- parent pages-->
          <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-home" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="nv-home">
              <div class="d-flex align-items-center">
                <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span class="nav-link-text">Actions</span><span class="fa-solid fa-circle text-info ms-1 new-page-indicator" style="font-size: 6px"></span>
              </div>
            </a>
            <div class="parent-wrapper label-1">
              <ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="nv-home">
                <li class="collapsed-nav-item-title d-none">Actions</li>
                <li class="nav-item"><a class="nav-link" href="/dash">
                    <div class="d-flex align-items-center"><span class="nav-link-text">Statistiques</span></div>
                  </a><!-- more inner pages-->
                </li>
                <li class="nav-item">
                  <a class="nav-link dropdown-indicator" href="#nv-level-two" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-level-two">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-text">Constantes</span>
                    </div>
                  </a><!-- more inner pages-->
                  <div class="parent-wrapper">
                    <ul class="nav collapse parent" data-bs-parent="#multi-level" id="nv-level-two">
                      <li class="nav-item">
                        <a class="nav-link" href="/poids">
                          <div class="d-flex align-items-center"><span class="nav-link-text">Poids</span></div>
                        </a><!-- more inner pages-->
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/taille">
                          <div class="d-flex align-items-center"><span class="nav-link-text">Taille</span></div>
                        </a><!-- more inner pages-->
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/glycemie">
                          <div class="d-flex align-items-center"><span class="nav-link-text">Glycémie</span></div>
                        </a><!-- more inner pages-->
                      </li>
                      {%if not user.sexe%}
                      <li class="nav-item">
                        <a class="nav-link" href="/gestation">
                          <div class="d-flex align-items-center"><span class="nav-link-text">Etat de grossesse</span></div>
                        </a><!-- more inner pages-->
                      </li>
                      {%endif%}
                    </ul>
                  </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/predictions">
                    <div class="d-flex align-items-center"><span class="nav-link-text">Prédictions</span></div>
                  </a><!-- more inner pages-->
                </li>
                {%if user.profil.id == 3%}
                <li class="nav-item">
                  <a class="nav-link dropdown-indicator" href="#patients" data-bs-toggle="collapse" aria-expanded="false" aria-controls="patients">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-text">Patients</span>
                    </div>
                  </a><!-- more inner pages-->
                  <div class="parent-wrapper">
                    <ul class="nav collapse parent" data-bs-parent="#multi-level" id="patients">
                      <li class="nav-item">
                        <a class="nav-link" href="/patients">
                          <div class="d-flex align-items-center"><span class="nav-link-text">Liste</span></div>
                        </a><!-- more inner pages-->
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/add_patient">
                          <div class="d-flex align-items-center"><span class="nav-link-text">Ajout de patient</span></div>
                        </a><!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </li>
                {%endif%}
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-vertical-footer"><button class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-8"></span><span class="uil uil-arrow-from-right fs-8"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span></button></div>
</nav>